<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />

  <node pkg="autorally_smartdriving" type="lidarDetection" name="autorally_lidar" output="screen" />

  <node pkg="autorally_smartdriving" type="odom" name="autorally_odom" output="screen" />

  <!--<node pkg="autorally_smartdriving" type="tf_nav" name="autorally_tf" output="screen" />-->

</launch>
