<launch>
  <include file="$(find autorally_core)/launch/hardware.machine" />
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find autorally_smartdriving)/launch/test_map_empty.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find autorally_smartdriving)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find autorally_smartdriving)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find autorally_smartdriving)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find autorally_smartdriving)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find autorally_smartdriving)/config/base_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />

    <param name="clearing_rotation_allowed" value="false" /> <!-- our vehicle can't rotate inplace -->
  </node>
</launch>
